.wrapper {
    width: 320px;
    padding: 20px;
}
.heading {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}
.avatar {
    height: 48px;
    width: 48px;
    border-radius: 50%;
    object-fit: cover;
    cursor: pointer;
}
.follow-btn {
}
.body {
    margin-bottom: 10px;
}
.heading-account {
    display: flex;
    line-height: 1;
}
.nickname {
    font-size: 18px;
    font-weight: 700;
    color: rgb(22, 24, 35);
    cursor: pointer;
}

.check-icon {
    height: 14px;
    width: 14px;
    color: #20d5ec;
    margin-left: 4px;
}
.name {
    font-size: 14px;
    color: rgba(22, 24, 35, 0.75);
    font-weight: 400;
    cursor: pointer;
}
.number {
    font-size: 17px;
    font-weight: 700;
    color: rgb(22, 24, 35);
}
.text {
    color: rgba(22, 24, 35, 0.75);
    font-size: 17px;
    margin-right: 12px;
}
