.wrapper {
    display: flex;
    flex-direction: column;
    margin-top: 60px;
    height: 1000px;
}

.container {
    max-width: var(--defaultlayout-header-width);
    display: flex;
    justify-content: center;
    margin: 0 170px;
}

.content {
    flex: 1;
    background-color: aqua;
}
