.wrapper {
    --defaultlayout-header-height: 60px;
    --defaultlayout-header-width: 1150px;
    --search-border-radius: 92px;
    --fontsize-header: 16px;
    --bgcolor-search: rgba(22, 24, 35, 0.06);
    width: 100%;
    display: flex;
    justify-content: center;
    height: var(--defaultlayout-header-height);
    box-shadow: 0px 1px 1px rgb(0 0 0 / 12%);

    .inner {
        height: 100%;
        width: var(--defaultlayout-header-width);
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 20px 0px 20px;
    }
}
.logo {
    min-width: 300px;
}

.action {
    display: flex;
    justify-content: space-around;
    align-items: center;

    margin: 0 10px;
}
.bars {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 36px;
    padding: 20px 10px;
    background-color: transparent;
}

.mes-btn {
    font-size: 2rem;
    background-color: transparent;
    cursor: pointer;
    margin-left: 12px;
    padding: 3px 3px 0px;
}
.notification-btn {
    background-color: transparent;
    font-size: 2rem;
    cursor: pointer;
    margin-left: 12px;
    padding: 3px 3px 0px;
}
.avatar-user {
    margin-left: 20px;
    cursor: pointer;
    width: 32px;
    height: 32px;
    object-fit: cover;
    border-radius: 50%;
}
