.menu-list {
    width: 224px;
    display: flex;
    line-height: 2.2 rem;
}

.menu-item {
    // display: flex;
    margin-bottom: 8px;
    padding: 1px;
    font-size: 1.2 rem;
    line-height: 2.2 rem;
    &:hover {
        background-color: var(--bgcolor-search);
        cursor: pointer;
    }
    &.separate {
        border-top: 1px solid rgba(22, 24, 35, 0.12);
    }
}
.header {
    position: relative;
    height: 50px;
}
.back-btn {
    height: 100%;
    width: 50px;
    background-color: transparent;
    cursor: pointer;
}
.header-title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
